<% this.title = '错误' %>
<%- include("header") %>

<div class="ui negative icon message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header" style="margin-bottom: 10px; ">
      <%= exception.message %>
    </div>
    <% if (exception.details) { %>
      <p><%= exception.details %></p>
    <% } %>
    <p>
      <% for (const nextUrl of exception.nextUrls) { %>
        <a href="<%= nextUrl.url %>" style="margin-right: 5px; "><%= nextUrl.text %></a>
      <% } %>
      <a href="javascript:history.go(-1)">返回上一页</a>
    </p>
  </div>
</div>

<%- include("footer") %>
